name: Build iOS IPA (Enterprise)

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Create iOS boilerplate
        run: flutter create --platforms=ios .

      - name: Install dependencies
        run: flutter pub get

      - name: Build iOS (No codesign)
        run: |
          flutter build ios --release --no-codesign

      - name: Package Unsigned IPA
        run: |
          mkdir Payload
          cp -r build/ios/iphoneos/Runner.app Payload/
          zip -r wallhaven-unsigned.ipa Payload

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: wallhaven-unsigned-ipa
          path: wallhaven-unsigned.ipa
